<h1> Js Animations here! </h1>

<div id ="container">
    <div id ="animate"></div>
</div>

<button id="btn" onclick="myMove(); move();">Click Me</button>
<br>
<br>

<div id="contBar">
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
</dir>
