<div style="text-align:center"> 
 <input id="btplay" type="image" onclick="play()" value="on" src="<%= image_path("playUp.png") %>" alt="Submit">
  <button onclick="makeBig()">Big</button>
  <button onclick="makeSmall()">Small</button>
  <button onclick="makeNormal()">Normal</button>
  <br><br>
  <%= video_tag "ed.mp4", :size => "1024 x 677", :id => "video1", :poster => 'bg2.png' %>
</div> 


<script> 
var myVideo = document.getElementById("video1"); 

function makeBig() { 
    myVideo.width = 700; 
} 

function makeSmall() { 
    myVideo.width = 320; 
} 

function makeNormal() { 
    myVideo.width = 420; 
}

function play() {
  //alert('aew');
  var button = document.getElementById("btplay");  
  if (button.value == "on"){
    button.src = "<%= image_path("playDown.png") %>";
    button.value ="off";
    myVideo.play();
  }
  else {
    button.src = "<%= image_path("playUp.png") %>";
    button.value = "on";
    myVideo.pause();
  }
  
} 
</script> 
