// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// CSS da view charts.html

	#combobox {
    text-align: center;
    float:left;
}
	#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}
	#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
}
	#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
	#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}
	#contBar {
		width: 400px;
		height: 15px;		
}
	#label {
    text-align: center; 
    line-height: 30px;
    color: white;
}

//Tooltip CSS
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
